.edu__section-card {
  margin: 10px 0 50px 0;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(30, 41, 59, .5);
  position: relative;
  border: 1px solid #00ffff4d;
  width: 100%;
}

.edu__section-wrapper {
  position: relative;
}

.edu__section-wrapper::before {
  content: "";
  left: 0;
  width: 1px;
  height: 100%;
  top: 10px;
  display: block;
  position: absolute;
  background-color: #00ffff4d;
  z-index: 3;
}

.edu__section-card::before{
  content: "";
  position: absolute;
  left: -12px;
  top: 50%;
  width: 11px;
  height: 1px;
  background-color: #00ffff4d;
}