.edu__section-wrapper{
  counter-reset: section 0;
}

.edu__section-card{
  margin-bottom: 50px;
  box-sizing: border-box;
  transition: all 200ms ease-in;
}

.edu_card-title{
  font-size: 2rem;
  font-weight: bold;
  position: relative;
}

.edu_card-title span{
  font-size: 1.5rem;
  font-weight: normal;
  opacity: .8;
  margin-left: 10px;
}

.edu_card-title::after{
  content: "";
  position: absolute;
  top: 50%;
  margin-left: 20px;
  height: 1px;
  width: 300px;
  background-color: #94a3b88a;
}

.edu__section-card:hover > .edu_card-title{
  color: #00ffff ;
  text-shadow: #ff69b4 2px 1px;
}