* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #020a13 !important;
  color: #e1e1e1 !important;
  /* transition: all 0.5s linear 0s; */
  font-family: "Blorado";
}

main{
  transition: opacity 200ms ease-in;
}

canvas {
  display: block;
}

section {
  min-height: 100vh !important;
  height: 100% !important;
}

.head-letter-sp{
  letter-spacing: 9px;
}